<footer class="site-footer">
  <div class="wrapper">
    
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li><a href="http://github.com/valeryozenne/valeryozenne.github.io">Website sources</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="http://valeryozenne.github.io">Valéry Ozenne</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>février 2026</li>
        </ul>
      </div>
    </div>

  </div>

</footer>
